* {
    padding:0;
    margin:0;
    font-family: verdana, sans-serif;
    box-sizing:borderbox;
  }
  
  body{
      background-color:black;
  }
  
  .content{
    height:80vh;
    display:flex;
    box-shadow: 10px 10px 15px red;
    margin:auto;
    border-radius:40px;
    flex-direction:column;
    width:70vw;
    align-items:center;
    justify-content:start;
    margin-top:10vh;
    gap:4vh;
  }
  
  h2 {
    color:#1743a3;
    margin-top:7vh;
  }
  
  h1 {
    color:#1743a3;
  }
  
  input{
    padding:10px 50px;
    border:none;
    color:black;
    border-bottom:2px solid black;
  }
  
  button {
    padding:10px;
    margin-left:3vw;
    background-color:#1743a3;
    cursor:pointer;
    border:none;
    border-radius:7px;
    color:white;
  }
  
  button:hover{
  background-color:#022675;
  }
  
  .inputs {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:5vh;
    padding:20px;
    background-color:#ffff;
    border-radius:10px;
    height:30vh;
    width:55vw;
  }
  
  #result{
    color:white;
  }
  
  details{
    color:white;
    cursor:pointer;
    margin:20px;
    background-color:#1743a3;
    padding:10px;
    border-radius:10px;
    text-align:justify;
  }
  
  @media screen and (max-width:800px){
    h3{
      font-size:1rem;
    }
    input{
      width:7vw;
      }
      h1{
        font-size:1.5rem;
        padding:10px;
      }
      h2{
        font-size:1.25rem;
         padding:10px;
      }
  }